@model WebApplication1.Models.Students

<h2>Delete Student Data</h2>

<p>Are you sure you want to delete @Model.Name @Model.LastName?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn edit">Yes</button>
    <a href="/Home"><button class="btn delete" >Cancel</button></a>
</form>
